*{
    margin: 0;
    padding: 0;
  }

  .body{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .calculator {
	width: 300px;
	margin: 50px;
	background-color: lightgrey;
	border-radius: 5px;
	padding: 20px;
    border:1px solid black;
}

.calculator table {
	width: 100%;
}

.calculator td {
	padding: 5px;
	text-align: center;
}

.button {
	width: 100%;
	padding: 10px;
	font-size: 20px;
	background-color: whitesmoke;
	border-radius: 5px;
	border: 1px solid black;
	
}

.button:hover {
	background-color: grey;
}

#result {
    width: 87%;
	padding: 10px;
	font-size: 20px;
	margin: 10px;
    border-radius: 5px;
    background-color: white;
	border: 1px solid black;
	text-align: right;
}
